<nav class="navbar fixed-bottom  navbar-expand-lg navbar-light" style="background-color: #8f4103">
    <div class="nav-item nav-link rounded-bottom rounded-top my-1 ml-lg-2" style="background-color: #b04500;">
        <a class="text-for-links" href="/contacts">Контакты</a>
    </div>
    <div class="nav-item nav-link rounded-bottom rounded-top my-1 ml-lg-2" style="background-color: #b04500;">
        <a class="text-for-links" href="/reports">Отзывы</a>
    </div>
{#    <div class="nav-item nav-link rounded-bottom rounded-top my-1 ml-lg-2" style="background-color: #b04500;">#}
{#        <a class="text-for-links" href="/partners">Партнеры</a>#}
{#    </div>#}
</nav>
