<div class="tabs-to-dropdown">
  <div class="nav-wrapper d-flex align-items-center justify-content-between" style="background-color: #8f4103">
    <ul class="nav nav-pills d-none d-md-flex" id="pills-tab" role="tablist">
      <li class="nav-item rounded-bottom rounded-top" style="background-color: #b04500">
        <div class="nav-item nav-link rounded-bottom rounded-top" style="background-color: #b04500;">
            <a class="text-for-links" href="{% url 'home' %}">Главная</a>
        </div>
      </li>
      <li class="nav-item rounded-bottom rounded-top" style="background-color: #b04500">
          <div class="nav-item nav-link rounded-bottom rounded-top" style="background-color: #b04500;">
            <a class="text-for-links" href="{% url 'about' %}">О нас</a>
          </div>
      </li>
      <li class="nav-item rounded-bottom rounded-top" style="background-color: #b04500">
          <div class="nav-item nav-link rounded-bottom rounded-top" style="background-color: #b04500;">
            <a class="text-for-links" href="{% url 'tours' %}">Туры</a>
          </div>
      </li>
    </ul>
      <div class="justify-content-end">
        <ul>
            {% if not user.is_authenticated %}
                <button class="btn btn-success"><a class="text-for-links" href="{% url 'login' %}">Вход</a></button>
                <button class="btn btn-outline-success"><a class="text-for-links" href="{% url 'register' %}" target="_blank">Регистрация</a></button>
            {% endif %}
            {% if user.is_authenticated %}
                <button class="btn btn-outline-success"><a class="text-for-links" href="{% url 'profile' %}" target="_blank">Профиль</a></button>
                <button class="btn btn-outline-danger" onclick="location.href='{% url 'logout' %}?next=/home'">Выйти</button>
            {% endif %}
        </ul>
    </div>
  </div>

</div>