{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% block title %}Главная{% endblock %}
    {% block content %}
        <h1 align="center">ООО Туристическая компания</h1>
        <p align="center">Мы предлагаем лучшие туры<br></p>
        <H2 align="center">Вот, почему мы:</H2>
    <div align="center">
        <ul>
            <li style="list-style-type: none">Более 20-ти лет радуем гостей столицы радушным приёмом</li>
            <li style="list-style-type: none">Качественно и ответственно выполняем работу</li>
            <li style="list-style-type: none">Всегда и всё успеваем</li>
            <li style="list-style-type: none">Широчайший ассортимент туристических продуктов</li>
            <li style="list-style-type: none">Индивидуальный подход к каждому гостю</li>
        </ul>
    </div>
            <H2 align="center">
                Мы на карте:
            </H2>
            <div style="position:relative;overflow:hidden;" align="center" class="mb-5">
                <iframe src="https://yandex.ru/map-widget/v1/?ll=37.617170%2C55.772545&mode=whatshere&whatshere%5Bpoint%5D=37.616898%2C55.772858&whatshere%5Bzoom%5D=17&z=18.68"
                    width="300" height="200" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
            </div>
    {% endblock %}
