{% extends 'layout.html' %}
{% load static %}
{% block title %}Профиль{% endblock %}
        {% block dependencies %}
                {#        profile.html dependencies#}
        <link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css">
        <script type="text/javascript" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% endblock %}

    {% block content %}
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
    <div class="col-xl-6 col-md-12">
                                                    <div class="card user-card-full">
                                                        <div class="row m-l-0 m-r-0">
                                                            <div class="col-sm-4 bg-c-lite-green user-profile">
                                                                <div class="card-block text-center text-white">
                                                                    <div class="m-b-25">
                                                                        <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image">
                                                                    </div>
                                                                    <h6 class="f-w-600">{{ user.name }}</h6>
                                                                    <p>{{ user.username }}</p>
                                                                    <button class="btn btn-sm btn-danger mb-2" onclick="location.href='{% url 'logout' %}?next=/profile'">Выйти</button>
                                                                    {% if user.is_superuser %}
                                                                        <button class="btn btn-sm btn-light" onclick="location.href='/admin'">Админка</button>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-8">
                                                                <div class="card-block">
                                                                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600">О Вас</h6>
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <p class="m-b-10 f-w-600">Email</p>
                                                                            <h6 class="text-muted f-w-400">{{ user.email }}</h6>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <p class="m-b-10 f-w-600">Имя</p>
                                                                            <h6 class="text-muted f-w-400">{{ user.first_name }} {{ user.last_name }}</h6>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <button class="btn btn-sm btn-dark mb-2 mr-lg-4" onclick="location.href='{% url 'password_change' %}?next=/profile'">Сменить пароль</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                 </div>
                                                    </div>
                                                </div>
        <div class="container">
        <h6>Ваши отзывы:</h6>
            {% for el in feedbacks %}
                <div>
                {% if el.username ==  user.username %}
                    <p>
                        {{ el.tour }}
                    </p>
                    <p>
                        {{ el.text }}<br>
                        {{ el.time }}
                    </p>
                {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endblock %}