{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация и Вход</title>
    <link type="text/css" rel="stylesheet"  href="{% static 'common_styles.css' %}">
</head>
<body>
    <H1 align="center">Здесь будет страница регистрации и аутентификации пользователей!</H1>
    <ul class="menu">
        <li><a href="/tours">Туры</a></li>
        <li><a href="/home">Главная</a></li>
        <li><a href="/registration_and_authentication">Вход</a></li>
    </ul>
<H3 align="center">
    Регистрация:
    <form name="registration_and_authentication" method="post">
        {% csrf_token %}
        {{ form.username }}<br>
        {{ form.email }}<br>
        {{ form.password1 }}<br>
        {{ form.password2 }}<br>
        <input type="submit" name="submit" value="Зарегистрироваться">
    </form>
</H3>
</body>
</html>